@media (max-width:425px) {
   header{
      position:absolute;
      right: 40px;
   }
   .main-container{
      border: none;
      height: 600px;
   }
   footer{
      height: 50px;
   }
   footer ul{
      flex-direction:row;
   }
}