*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   color: white;
}
html{
   font-size: 62.5%;
}
body{
   background-color: #005f99;
   font-size: 1.6rem;
}
header{
   display: flex;
   padding: 20px;
   justify-content: space-between;
}
.logo{
   width:40px ;
   height: 40px;
}
.header-nav{
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.header-nav-bar{
   position: absolute;
   display: none;
}
.header-nav:hover .header-nav-bar{
   display: block;
}
.header-nav-user{
   width: 30px;
   height: 30px;
}
.main-section{
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content:  center;
}
.main-section h3 {
   align-self: center;
   
   
}
.main-section-buscador{
   align-self: center;
   width: 60%;
   height: 30px;
   padding: 10px;
   margin-top: 20px;
   border: white solid 2px;
   border-radius: 10px;
   background-color: transparent;
   opacity: rgba(243, 240, 240, 0.8);
   outline: none;

}
.main-section-buscador::placeholder{
   color: white ;
}
.main-carrousel h4{
   padding-left: 21px;
   margin-top: 20px;
}
.main-carrousel{
   /* padding-left: 20px; comentaremos este paddig porque nos que se  queda aun cuando usamos el scroll de las imagenes */
   position: relative;
   overflow-x: visible;
}
.main-carrousel-container{
   position: relative;
   display: flex;  /* el display flex  usa mos en este caso en ligar del display inline flex becaus  con esy añadiendo un width minimo a cada articulo logramos que no se muevael titulo de mi lista */
   padding-left: 20px;
   white-space: nowrap;
   overflow-x: scroll;
   overscroll-behavior-x: contain ;
}
.main-carrousel-container:hover .main-carrousel-card{
   opacity: 0.2;
} 
.main-carrousel-card{
   position: relative;
   min-width: 150px;
   height: 200px;
   margin: 30px 0;
   margin-right: 20px;
   border-radius: 20px;
   overflow: hidden;
   scroll-snap-align:center;
}
.main-carrousel-card:hover ~ .main-carrousel-card{
   transform: translate3d(20px,0,0);
}

.main-carrousel-container .main-carrousel-card:hover{
   transform: scale(1.2); 
   opacity: 1;
   transition: 450ms;
}
.carrousel-card-img{
   width: 100%;
   height: 100%;
   object-fit:cover;
}
.player{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-image: url('./assets/play.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.add{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-image: url('./assets/plus.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.card-detail{
   position: absolute;
   display: none;
   width: auto;
   bottom: 5px;
   left: 5px;
}
.main-carrousel-container .main-carrousel-card:hover .card-detail{
   display: block;
   left: 5px;
   bottom: 5px;
}
.main-carrousel-container::-webkit-scrollbar-thumb{
   background: rgba(201, 199, 199, 0.548);
}
.main-carrousel-container::-webkit-scrollbar{
   width: 5px;
   height: 5px;
}